<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="HybridAutomation">


<listeners>
		<listener class-name="com.HybridAutomation.Utilities.ExtentReportManager" />
	</listeners>
		<test name="HybridAutomation Test">
		<classes>
			<class name="com.HybridAutomation.testCases.TC_LoginTest_001" />
			 <class name="com.HybridAutomation.testCases.TC_LoginDDT_002" />
			

		</classes>

	</test>

</suite>